<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="Logs\internal-nlog.txt">
	<!-- define various log targets -->
	<targets>
		<!-- write logs to file -->
		<target xsi:type="File" name="allfile"
		        keepFileOpen="true"
		        concurrentWrites="false"
		        fileName="Logs\HomeData.Worker-all-${processid}-${shortdate}.log"
		        layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception:format=ToString,StackTrace}" />


		<target xsi:type="File" name="ownFile"
		        keepFileOpen="true"
		        concurrentWrites="false"
		        fileName="Logs\HomeData.Worker-${processid}-${shortdate}.log"
		        layout="${longdate}|${uppercase:${level}}|${callsite:includeNamespace=False:cleanNamesOfAsyncContinuations=True}|  ${message} ${exception:format=ToString,StackTrace}" />

		<target xsi:type="Console" name="console"
		        layout="${longdate}|${uppercase:${level}}|${callsite:includeNamespace=False:cleanNamesOfAsyncContinuations=True}|  ${message} ${exception}" />

		<target xsi:type="Null" name="blackhole" />
	</targets>

	<rules>
		<!--All logs, including from Microsoft-->
		<logger name="*" minlevel="Debug" writeTo="allfile" />

		<!--Skip Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Debug" writeTo="blackhole" final="true" />
		<logger name="*" minlevel="Debug" writeTo="ownFile" />
		<logger name="*" minlevel="Debug" writeTo="console" />
	</rules>
</nlog>